{% extends 'base.html.twig' %}

{% block title %}Détails de l'établissement - {{ etablissement.appellationOfficielle }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Détails de l'établissement : {{ etablissement.appellationOfficielle }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Appellation Officielle :</strong> {{ etablissement.appellationOfficielle }}</p>
                <p><strong>Commune :</strong> {{ etablissement.commune }}</p>
                <p><strong>Département :</strong> {{ etablissement.departement }}</p>
                <p><strong>Région :</strong> {{ etablissement.region }}</p>
                <p><strong>Académie :</strong> {{ etablissement.academie }}</p>
                <p><strong>Latitude :</strong> {{ etablissement.latitude }}</p>
                <p><strong>Longitude :</strong> {{ etablissement.longitude }}</p>
            </div>
            <div class="col-md-6">
                <p><strong>État :</strong> {{ etablissement.etatEtablissementLibe.value }}</p>
                <p><strong>Nature UAI :</strong> {{ etablissement.natureUai }}</p>
                <p><strong>Nature Libellé :</strong> {{ etablissement.natureLibe }}</p>
                <p><strong>Code Postal :</strong> {{ etablissement.codePostal }}</p>
                <p><strong>Type de Contrat :</strong> {{ etablissement.typeContrat }}</p>
                <p><strong>Libellé Type Contrat :</strong> {{ etablissement.libelleTypeContrat }}</p>
                <p><strong>Code Ministère :</strong> {{ etablissement.codeMinistere }}</p>
                <p><strong>Libellé Ministère :</strong> {{ etablissement.libelleMinistere }}</p>
                <p><strong>Date d'Ouverture :</strong> {{ etablissement.dateOuverture|date('d/m/Y') }}</p>
            </div>
        </div>

        <!-- Ajout du bouton retour avec un style cohérent -->
        <div class="d-flex justify-content-end mt-4">
            <a href="{{ path('etablissements_par_academie', {'code_academie': etablissement.codeAcademie}) }}" class="btn btn-primary">
                Retour à l'académie
            </a>
        </div>
    </div>
{% endblock %}
